*{
    
    margin: 0;
    padding: 0;

}

html,body{
    height: 100vh;
    overflow: hidden;
    background-color: #3d70ab;
    background-image: linear-gradient(335deg, rgb(109, 148, 206) 23px, transparent 23px),
    linear-gradient(155deg, rgb(109, 148, 206) 23px, transparent 23px),
    linear-gradient(335deg, rgb(109, 148, 206) 23px, transparent 23px),
    linear-gradient(155deg, rgb(109, 148, 206) 23px, transparent 23px);
    text-align: center;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    background-size: 58px 58px;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}

.box{
    
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0,0,0.3);
    font-size: 8vmin;
    color: rgb(149, 98, 31);
    

}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background: #81aae2 ;
    border-radius: 1rem;
    
}

.box:hover{
    background-color: rgb(191, 213, 147);
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background: #81aae2 ;
    border-radius: 1rem;
}

#msg{
    font-size: 8vmin;
}
.msg-container{
    height: 10vmin;

}





.sign {
  position: absolute;
  display: flex;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #b5c1d3,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 4%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #6593ff,
    -0.2rem 0.1rem 1rem #65baff, 0.2rem 0.1rem 1rem #65aaff,
    0 -0.5rem 2rem #2491ff, 0 0.5rem 3rem #2499ff;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65baff,
      -0.2rem 0.1rem 1rem #659bff, 0.2rem 0.1rem 1rem #6596ff,
      0 -0.5rem 2rem #6224ff, 0 0.5rem 3rem #5b24ff;
  }
  28%,
  33% {
    color: #656dff;
    text-shadow: none;
  }
  82%,
  97% {
    color: #24b6ff;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #18186b;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #6568ff,
      -0.2rem 0.1rem 1rem #7465ff, 0.2rem 0.1rem 1rem #65f5ff,
      0 -0.5rem 2rem #2433ff, 0 0.5rem 3rem #242bff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}